<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="collaboratar.component.css">
</head>
<body>
    <div>
        <button mat-button (click)='openCollaborator()' >
            <img
              src="
              data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMTAgOGMxLjY2IDAgMi45OS0xLjM0IDIuOTktM3MtMS4zMy0zLTIuOTktMy0zIDEuMzQtMyAzIDEuMzQgMyAzIDN6bS02IDJ2LTJoMnYtMmgtMnYtMmgtMnYyaC0ydjJoMnYyaDJ6bTYgMGMtMi4zMyAwLTcgMS4xNy03IDMuNXYyLjVoMTR2LTIuNWMwLTIuMzMtNC42Ny0zLjUtNy0zLjV6Ii8+CiA8cGF0aCBkPSJtMCAwaDE4djE4aC0xOHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg=="
              alt="addImage-icon"
            />
        </button>
    </div>
    
</body>
</html>