<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="update.component.css">
</head>
<body>
    <div   [style.background-color]=color class="mainDialog">
        <mat-card [style.background-color]=color class="takeNote" fxLayout='column' fxFlex.xs='100' fxFlex='100'>
      
      
         
            <div fxFlex="95" class="titlebox">
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
                cdkAutosizeMinColumns="50" [style.background-color]=color cdkAutosizeMaxRows="6" placeholder="Title" [(ngModel)]="title"></textarea>
            </div>
          

          <div fxFlex="100" style="width: 500px" class="descriptionClass">
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
              cdkAutosizeMinColumns="50" [style.background-color]=color cdkAutosizeMaxRows="18" placeholder="Take a Note"
              [(ngModel)]="description" ></textarea>
          </div>
          <div class="icon-flex" fxFlex="100" fxLayoutAlign="space-between center">
           
            <div class="icon-flex1">
              <div>
                <app-change-color (ItemEvent)="getcolor($event)"></app-change-color>
            </div>
            <div>
              <app-reminder></app-reminder>
            </div>
            <div>
              <app-collaboratar></app-collaboratar>
            </div>        
            <div>
              <app-add-image></app-add-image>
            </div>
            <div>
              <app-archieve></app-archieve>
            </div>
            <div>
              <app-delete [noteId]="id"></app-delete>
            </div>
            </div>
            
            <div class="closeButton">
              <button mat-icon-button matSuffix (click)='updateNote(data)' >Close</button>
            </div>
          </div>
        </mat-card>
    </div>
    
</body>
</html>
