.descriptionClass textarea{
    border: none;
    outline: 0px white;

}


.titlebox textarea{
    border: none;
    outline: 0px white;
}

.mainDialog{
    height: 100%;
    width: 100%;
    background-color: gray;
}

.mainDialog .mat-card{
    width: 100%;
    height: 100%;
}


.takeNote{
    display: block;
    padding: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}


.icon-flex{
    display: flex;
   align-items: center;
 /*  border: 1px solid black;*/
   justify-content: space-between;
}

.closeButton{
  /*  border: 1px solid black;*/
  margin-right: 5px;
   
   
}

.closeButton .button{
    font-size: 15px;
  
}

.icon-flex1{
    display: flex;
}


::ng-deep .mat-mini-fab .mat-button-wrapper {
    padding: 8px 0;
    display: inline-block;
    line-height: 1px;
}


::ng-deep .mat-dialog-container {
    /* display: block; */
    /* padding: 24px; */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    /* overflow: auto; */
    /* outline: 0; */
    width: 100%;
    height: 100%;
    /* min-height: inherit; */
    /* max-height: inherit; */
}



/deep/ .mat-dialog-container {

    display: block;
    padding: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 700px;
    height: 100px;
    min-height: inherit;
    max-height: inherit;
}

/deep/ .mat-card {
    margin-top: 0px;

}


.icon-flex{
    margin-top: 20px;
}