<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration.component.css">
</head>
<body>
    <div class="flex">
        <div class="flex-left">
            <h2>
                <span class="f">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="o">o</span>
              </h2>
              <h1>Create your Fundoo Account</h1>
              <h4>Continue to Fundoo</h4>
              <div class="MainFlex">
                <form class="form" [formGroup]="myForm">
                  <div class="form-1">
                     
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput autocomplete="off" formControlName="firstName" />
                            <mat-error >Please provide first name!</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput autocomplete="off" formControlName="lastName" />
                            <mat-error > Please provide last name!</mat-error>
                            </mat-form-field>
                       
                  </div>
                  <div class="from-2">
                    
                        <mat-form-field appearance="outline">
                          <mat-label>email</mat-label>
                          <input matInput autocomplete="off" formControlName="email" />
                          
                          <mat-hint>You can use letters, numbers & periods</mat-hint>
                          <mat-error >Please provide proper email!</mat-error>
                        </mat-form-field>
                     
                  </div>
                  <div class="from-3">
                   
                        <mat-form-field appearance="outline">
                            <mat-label>passwrod</mat-label>
                            <input matInput autocomplete="off" formControlName="password" />
                            <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                            <mat-error >please Enter the passwrod!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                            <mat-label>confirm</mat-label>
                            <input matInput autocomplete="off" formControlName="confirm" />
                            <mat-error > Please confirm password!</mat-error>
                            </mat-form-field>
                     

                  </div>
                  <div class="from-4">
                    <button mat-button>sign in instead</button>
                    <button mat-raised-button color="primary" (click)='submitUser()'>Register</button>

                  </div>

              </form>
              
        </div>

              </div>
              
        <div class="flex__right">
            <img
            src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
           
            
            alt="account-image"
          />
          <p class="line-after-Images">One account. All of Fundoo working for you..</p>
        </div>

    </div>
</body>
</html>