<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="notes.component.css">
</head>
<body>
    <div>
        <div class="sidebar__notes1" >
          <div class="section"></div>
            <button mat-button>
              <img
                src="https://static.thenounproject.com/png/10329-200.png"
                alt="note-icon"
              />
            </button>
            <div class="section"></div>
          </div>
          <div class="sidebar__notes2" >
            <button mat-button>
              <img
                src="https://cdn.iconscout.com/icon/free/png-256/bell-479-458061.png"
                alt="bell-icon"
              />
            </button>
            <div class="section"></div>
            
          </div>
          <div class="sidebar__notes3">
            <button mat-button>
              <img
                src="
            https://cdn2.iconfinder.com/data/icons/education-2-45/48/71-512.png "
                alt="note-icon"
              />
            </button>
            <div class="section"></div>
           
          </div>
          <div
            class="sidebar__notes4">
            <button mat-button>
              <img
                src="
                https://cdn.iconscout.com/icon/free/png-256/archive-rar-extract-zip-file-data-diocument-secure-31759.png"
                alt="note-icon"
              />
            </button>
            <div class="section"></div>
           
          </div>
          <div class="sidebar__notes5" >
            <button mat-button>
              <img
                src="
          https://www.svgrepo.com/show/21045/delete-button.svg"
                alt="note-icon"
              />
            </button>
            <div class="section"></div>
           
          </div>


    </div>
    
</body>
</html>
