<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="delete.component.css">
</head>
<body>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)=" deleteNote()">
             
              <span>Delete note</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="labelMenu">
              Add Label
            </button>
          </mat-menu>



          <mat-menu #labelMenu="matMenu" [hasBackdrop]="false">
            
              <form [formGroup]="labelForm" class="labelForm">
                <div class="searchLabel" (click)="$event.stopPropagation()" >
                  <input type="text" matInput autocomplete="off" formControlName="label" placeholder="enter label" (mouseenter)="getNoteLabelList()"/>
                </div>
              </form>
              <div class="labels" *ngFor="let label of note">
                <div class="label">
                  <input
                    type="checkbox"
                    name=""
                    id=""
                   
                    (click)="addLabelToNote(label)"
                  />
                  {{ label.label }}
                </div>
              </div> 
           
          </mat-menu>
    </div>

    
</body>
</html>
