<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="archieve.component.css">
</head>
<body>
    <div class="archieveButton">
        <button mat-button>
            <img
              src="
              https://cdn.iconscout.com/icon/free/png-256/archive-rar-extract-zip-file-data-diocument-secure-31759.png"
              alt="note-icon"
            />
          </button>
            
    </div>
    
</body>
</html>
