
<form [formGroup]="myForm">
                 <input
                 type="text"
                 placeholder="person or email to share with"
                 matInput
                 formControlName="collaboratorEmail"
               [matAutocomplete]="auto"
                 (keyup)="getCollaboraterList(collaboratorEmail)"/>
  
               <mat-autocomplete
                 #auto="matAutocomplete">
               <mat-option
                 *ngFor="let option of listOfCollaborators"
                 [value]="option">
                 {{ option.email }}
               </mat-option>
             </mat-autocomplete>
      
</form>           