span {
    border-radius: 100%;
    margin: 2px;
    border: 2px solid white;
  }
  
  .first-row {
    display: flex;
  }
  
  .menu__row {
    display: flex;
    justify-content: space-between;
  }
  
  span:hover {
    border: 2px solid black;
  }
  
  .color {
    height: 20px;
  }
  
  
  
  
  .two-color {
    background-color: #fbbc04;
  }
  
  
  
  