span {
  margin-left: 33px;
  }
  
  .first-row {
    display: flex;
  }
  

  

  /*
  .menu__row {

    display: flex;
    justify-content: space-between;
  
    width: 20px;
   
  }
  */
  
  span:hover {
    border: 2px solid black;
  }
  
  .color {
    height: 20px;
    width: 10px;
  }


  

 
  
  
  
  