<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="displaynote.component.css">
</head>
<body>
    <div >
        <div class="mar">
            <mat-card *ngFor="let card of AllNotes" class="main-card" [style.background-color]=card.color
            fxLayout.xs="column" fxFlex.xs="95" (click)="openDialog(card)">
                <div>
                    <div fxLayout="row">
                        <div fxFlex="20">
                            <p  class="wordBreakTitle">{{card.title}}</p>
                        </div>
                      <!----  <div fxFlex="80" fxLayoutAlign="start start" class="div123" >
                            <button mat-icon-button matSuffix (click)="pinNote(card)" (click)="pin()" *ngIf="!isTrash"
                            
                            matTooltip="unpin Note">
                            </button>
                        </div> ---> 
                    </div>
            
                    <div class="descriptionbox" (click)="openDialog(card)">
                        <p class="wordBreak">{{card.description}}</p>

                    </div>
                </div>
                <div fxLayout="row" fxLayout="row wrap"></div>
                <div style="height: 2vh;"></div>   
              <!---  <div class="div">
                    <app-icon [note]="card"></app-icon>
                </div>---> 
        
            
            

            </mat-card>

        </div>








    </div>
    
</body>
</html>
