.flex{
  
    padding: 3em;
    flex-direction: column;
   
    width: 200px;
    height: 300px;
    margin: 2% auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2 1 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    align-items:center;



}


.f {
    color: dodgerblue;
    font-weight: bolder;
    font-size:xx-large;
  }
  
  .u {
    color: red;
    font-weight: bolder;
    font-size:xx-large;
  }
  
  .n {
    color: yellow;
    font-weight: bolder;
    font-size:xx-large;
  }
  
  .d {
    color: blue;
    font-weight: bolder;
    font-size:xx-large;
  }
  
  .o {
    color: purple;
    font-weight: bolder;
    font-size:xx-large;
  }


  .flex-1{
    height: 40px;
    width: 130px;
    margin: 2% auto;
  }

  .flex-line-2{
    margin: 2% auto;
  }

  
  .flex-line-2{
    margin: 2% auto;
  }

  .flex-3{
    height: 160px;
    width: 200px; 
 /*   border: 1px solid rgba(0, 0, 0, 0.15);*/
    margin-top: 25px;
  }

  .submit-button{
      margin-left: 50px;
  }
