<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="flex">
        <div class="flex-1">
            <h2>
                <span class="f">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="o">o</span>
              </h2>
        </div>
        <div class="flex-line-2">
           <h1>Sign in</h1> 
           
        </div>
        <div>
            <h3>Use Your Fundoo Account</h3>
        </div>
        <div class="flex-3">
            <form class="form" [formGroup]="myForm">
                <div>
                    <p>
                        
                        <mat-form-field appearance="outline">
                            

                            <mat-label>email</mat-label>
                            <input matInput autocomplete="off" formControlName="email" formControlName="email" />
                            <mat-error >
                              Please provide email!
                            </mat-error>
                          </mat-form-field>
                    </p>
                </div>
                <div>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>password</mat-label>
                            <input matInput autocomplete="off" formControlName="password" formControlName="password" type="password"  />
                            <mat-error >
                              Please provide password!
                            </mat-error>
                          </mat-form-field>
                    </p>
                </div>
                <div class="submit-button"> 
                   
                    <button mat-raised-button color="primary" (click)='submitUser()'>submit</button>
                </div>
                

            </form>
        </div>
    </div>
    
</body>
</html>