<div class="name-label">
    <button>
        <img
          src="
      https://cdn2.iconfinder.com/data/icons/education-2-45/48/71-512.png "
          alt="note-icon"
        />
      </button>
</div>

<div>
    <!--<button mat-icon-button [matMenuTriggerFor]="matMenu" type="button">
        <mat-icon>
            <span>+Create new label</span>
        </mat-icon>
      </button>
      <mat-menu #matMenu="matMenu" >
        <div mat-menu-item >
          <mat-form-field >
            <input
                matInput
                placeholder="enter label"
                formControlName="label"
                
              />
            
          </mat-form-field>
        </div>
      </mat-menu>--->
    
</div>


