<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="addnotes.component.css">
</head>
<body>
    <div   class="takenote-flask"   *ngIf="flag">

        <mat-card>
            <div  class="takenote">
               
                <input (click)=' onclick()'  placeholder="Take a Note..">
            </div>
    
        </mat-card>

    </div>


    <div class="downflex" *ngIf="!flag" >

        <mat-card [style.background-color]=isColor>
          <form class="form" [formGroup]="myForm">
            <div class="add-note-title">
                
                    <input matInput type="text"  id="search-input" autocomplete="off" placeholder="Title" formControlName="title"/>
            </div>
            <div class="Take-note">
                
                    <input matInput type="text"  id="search-input" autocomplete="off" placeholder="Take a note.." formControlName="description" />
            </div>
            <div class="last-flex">
                <div class="last-flex1">  

                    <app-archieve class="child-component" (newItemEvent)="GetOutputVal($event)" ></app-archieve>
                    <app-change-color class="child-color" (ItemEvent)="getcolor($event)" ></app-change-color>
                
                    <app-add-image></app-add-image>
                    <app-reminder class="reminder-component" (reminderEvent)="getReminder($event)"></app-reminder>
                    <app-collaboratar></app-collaboratar>
                </div>
                <div class="last-flex2">
                    <button mat-icon-button >
                        <span class="close-icon" (click)='submitNote()'>Close</span>
                    </button>
                </div>
            </div>
            
            
          </form>      
        </mat-card>
        
    </div>
    
    
</body>
</html>
