<div class="flex">
    <div class="flex-1">
        <h2>Collaborators</h2>
    </div>
    <div class="flex-2">
        <div class="flex-2-1">
            <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIGhlaWdodD0iMTZweCIgd2lkdGg9IjE2cHgiIHZlcnNpb249IjEuMSIgeT0iMHB4IiB4PSIwcHgiIHZpZXdCb3g9IjAgMCA5NiA5NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTYgOTYiPgo8ZyBpZD0iSWNvbiI+CgkJCTxjaXJjbGUgY3k9IjQ4IiBjeD0iNDgiIHI9IjQ4IiBmaWxsPSIjQzZEQUZDIi8+CgkJCTxnIGZpbGw9IiM1RTk3RjYiPgoJCQkJPHBhdGggZD0ibTQ4IDIzYy04LjI4IDAtMTUgNi43Mi0xNSAxNXM2LjcyIDE1IDE1IDE1IDE1LTYuNzIgMTUtMTUtNi43Mi0xNS0xNS0xNXoiLz4KCQkJCTxwYXRoIGQ9Im00OCA2MWMtMTAuMzMgMC0zMSA1LjE3LTMxIDE1LjV2OC4xM2M4LjM2IDcuMDkgMTkuMTggMTEuMzcgMzEgMTEuMzdzMjIuNjQtNC4yOCAzMS0xMS4zN3YtOC4xM2MwLTEwLjMzLTIwLjY3LTE1LjUtMzEtMTUuNXoiLz4KCQkJPC9nPgoJCTxyZWN0IHk9IjAiIHg9IjAiIGhlaWdodD0iOTYiIHdpZHRoPSI5NiIgZmlsbD0ibm9uZSIvPgo8L2c+Cjwvc3ZnPgo="
            >
        </div>
        <div class="flex-2-2">
            <div> {{userName}}(Owner)</div>
            <div>{{userEmail}}</div>
           
        </div>
    </div>

    <div class="flex-3">
        <div class="flex-3-1">
            <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIGhlaWdodD0iMTZweCIgd2lkdGg9IjE2cHgiIHZlcnNpb249IjEuMSIgeT0iMHB4IiB4PSIwcHgiIHZpZXdCb3g9IjAgMCA5NiA5NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTYgOTYiPgo8ZyBpZD0iSWNvbiI+CgkJCTxjaXJjbGUgY3k9IjQ4IiBjeD0iNDgiIHI9IjQ4IiBmaWxsPSIjQzZEQUZDIi8+CgkJCTxnIGZpbGw9IiM1RTk3RjYiPgoJCQkJPHBhdGggZD0ibTQ4IDIzYy04LjI4IDAtMTUgNi43Mi0xNSAxNXM2LjcyIDE1IDE1IDE1IDE1LTYuNzIgMTUtMTUtNi43Mi0xNS0xNS0xNXoiLz4KCQkJCTxwYXRoIGQ9Im00OCA2MWMtMTAuMzMgMC0zMSA1LjE3LTMxIDE1LjV2OC4xM2M4LjM2IDcuMDkgMTkuMTggMTEuMzcgMzEgMTEuMzdzMjIuNjQtNC4yOCAzMS0xMS4zN3YtOC4xM2MwLTEwLjMzLTIwLjY3LTE1LjUtMzEtMTUuNXoiLz4KCQkJPC9nPgoJCTxyZWN0IHk9IjAiIHg9IjAiIGhlaWdodD0iOTYiIHdpZHRoPSI5NiIgZmlsbD0ibm9uZSIvPgo8L2c+Cjwvc3ZnPgo=">
        </div>
        <form class="abc">
           

        </form>
    </div>
    <div class="flex-4">
        <div class="flex-4-1">
            <button mat-raised-button color="primary" (click)='submitUser()'>submit</button>
        </div>
        

    </div>
</div>
